@model IEnumerable<GestaoTorneiosEsports.Models.Torneio>

@{
    ViewData["Title"] = "Torneios Cadastrados";
}

<h1>Torneios</h1>

<p>
    <a asp-action="Create">Criar novo torneio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TorneioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TorneioId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TorneioId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
